* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 70px;
}

.parallax-div {
  background-image: url("img01.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
}

.parallax-div-img-2 {
  background-image: url("img02.jpg");
}
